<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Conserto</title>
</head>
<body>
    <h1>Detalhes do Conserto para Moto ID: {{ conserto.moto_id }}</h1>
    <p>Complexidade do Conserto: {{ conserto.complexidade_do_conserto }}</p>
    <p>Tipo de Conserto: {{ conserto.tipo_conserto_id }}</p>
    <p>Tempo Real: {{ conserto.tempo_real }}</p>
    <p>Data de Entrada: {{ conserto.data_entrada }}</p>
    <p>Mecânico ID: {{ conserto.mecanico }}</p>
    <a href="{% url 'listar_consertos' %}">Voltar para Lista de Consertos</a>
</body>
</html>
